SHANHAI_RELEASE_SHA=REPLACE_WITH_EXACT_40_CHAR_SHA
SHANHAI_PUBLIC_IP=203.0.113.10
SHANHAI_DEBIAN_MIRROR=https://deb.debian.org/debian
SHANHAI_IMAGE_SOURCE=build
SHANHAI_PRODUCTION_ROOT=/opt/shanhaiedu-production
SHANHAI_SECRET_DIR=${SHANHAI_PRODUCTION_ROOT}/shared/secrets
SHANHAI_POSTGRES_USER=shanhai_prod
SHANHAI_POSTGRES_DB=shanhai_prod
SHANHAI_OBJECT_STORAGE_BUCKET=shanhaiedu-production
SHANHAI_TEXT_PROVIDER_NAME=controlled-text-provider
SHANHAI_TEXT_PROVIDER_BASE_URL=https://provider.example/v1
SHANHAI_TEXT_PROVIDER_MODEL=controlled-text-model
SHANHAI_TEXT_PROVIDER_TIMEOUT_SECONDS=300
SHANHAI_SESSION_TEACHER_PRINCIPAL_ID=01960000-0000-7000-8000-000000000002
SHANHAI_NGINX_SITE_DIR=/www/server/panel/vhost/nginx
SHANHAI_LEGACY_NGINX_SITE=/www/server/panel/vhost/nginx/crosspost.conf
SHANHAI_TLS_CERTIFICATE=/opt/crosspost/secrets/lego/certificates/crosspost-ip.crt
SHANHAI_TLS_PRIVATE_KEY=/opt/crosspost/secrets/lego/certificates/crosspost-ip.key
SHANHAI_NGINX_LOG_ROOT=/www/wwwlogs
SHANHAI_DB_CONNECTION_MAX=80
SHANHAI_QUEUE_DEPTH_MAX=1000
SHANHAI_HTTP_5XX_MAX=10
